<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{event_name}} team list</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower/tablesorter/dist/css/theme.bootstrap.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div class="container">
    <h2>{{event_name}} team list</h2>
    <div class="form-inline">
      <input type="text" class="search form-control" data-column="0" placeholder="license">
      <input type="text" class="search form-control" data-column="5" placeholder="tag">
    </div>
    <table id="teams" class="tablesorter table-condensed table-hover">
      <thead>
        <tr>
          <th>License</th>
          <th>Name</th>
          <th>Robot</th>
          <th>Programming</th>
          <th>Events attended</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody class="list">
        {%for team in teams%}
        <tr>
          <td><a href="/team/{{team.license}}">{{team.license}}</a></td>
          <td>{{team.long_name}}</td>
          <td>{{team.best_skill(0).score or 0}}</td>
          <td>{{team.best_skill(1).score or 0}}</td>
          <td>{{team.events.count()}}</td>
          <td>{{team.tag_list}}</td>
        </tr>
      {%endfor%}
      </tbody>
    </table>
  </div>

  <script src="/bower/jquery/dist/jquery.min.js" charset="utf-8"></script>
  <script src="/bower/tablesorter/dist/js/jquery.tablesorter.min.js" charset="utf-8"></script>
  <script src="/bower/tablesorter/dist/js/jquery.tablesorter.widgets.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    $(function(){
      $('#teams').tablesorter({
        theme: 'bootstrap',
        headerTemplate: '{content} {icon}',
        widgets: ['uitheme', 'filter'],
        widgetOptions: {
          filter_columnFilters: false,
          filter_external: '.search'
        }
      });
    })
  </script>

</body>
</html>
